# Advent of Code 2022 - Day 2

## Task 1

Input ==> 2 columns, 1 of [A,B,C], the other of [X,Y,Z]

Task - Calculate points per row, sum total

Score = Shape + Outcome
Shapes:
- Rock (A/X) = 1
- Paper (B/Y) = 2
- Scissors (C/Z) = 3

Outcome:
- Lost = 0
- Draw = 3
- Won = 6

- Rock (X) > Scissors (C)
- Scissors (Z) > Paper (B)
- Paper (Y) > Rock (A)

1. Read input file (separate string by ' ' to give a list)
2. np.array for each column
3. Read in to DF
4. Apply logic to DF

In [2]:
from pathlib import Path
import numpy as np
import pandas as pd

Read the input file in to two np arrays

In [3]:
file_path = Path.cwd() / "input" / "day2_input.txt"

In [36]:
with open(file_path, "r") as input_file:
    
    opponent = []
    player = []
    
    for idx, line in enumerate(input_file):
                
        results = line.rstrip("\n").split(" ")
        opponent.append(results[0])
        player.append(results[1])
        
game_array = np.array([opponent,player])

Add to a dataframe

In [42]:
game_df = pd.DataFrame(data=game_array).transpose()
game_df.columns= ['opponent','player']
game_df.head(3)

  opponent player
0        A      Z
1        B      X
2        A      Y

In [72]:
def who_wins(opponent: str, player:str) -> int:
"""
Rock = A = X
Paper = B = Y
Scissors = C = Z

Rock (A/X)> Scissors (C/Z)
Paper (B/Y)> Rock (A/X)
Scissors (C/Z)> Paper (B/Y)

"""
    WIN = 6
    DRAW = 3
    LOSS = 0

    draws = dict(
        A="X", B="Y", C="Z"
    )

    # Opponent is key, player is value
    # opponent < player
    beats = dict(
        A="Y",
        B="Z",
        C="X"
    )
    

    
    value = dict(X=1, Y=2, Z=3)
    
    if player == beats[opponent]:
        result = WIN
    elif player == draws[opponent]:
        result = DRAW
    else:
        result = LOSS

    #print(f"{opponent} vs {player} == {result} + {value[player]}")

    return result + value[player]

In [73]:
game_df['score'] = np.vectorize(who_wins)(game_df['opponent'], game_df['player'])

In [74]:
game_df

     opponent player  score
0           A      Z      3
1           B      X      1
2           A      Y      8
3           B      X      1
4           C      Y      2
...       ...    ...    ...
2495        A      Y      8
2496        B      X      1
2497        B      Y      5
2498        C      X      7
2499        B      X      1

[2500 rows x 3 columns]

In [75]:
total_score =game_df['score'].sum()
total_score

12772

## Part 2

In [80]:
def what_do_i_need(opponent:str, result:str) -> int:
    """
    Rock = A = X
    Paper = B = Y
    Scissors = C = Z

    Rock (A/X)> Scissors (C/Z)
    Paper (B/Y)> Rock (A/X)
    Scissors (C/Z)> Paper (B/Y)

    """
    
    WIN = 6
    DRAW = 3
    LOSS = 0

    draws = dict(
        A="X", B="Y", C="Z"
    )
    
    # Opponent is key, player is value
    beats = dict(
        A="Y",
        B="Z",
        C="X"
    )
    
    # opponent is key, player is value
    # opponent > player
    beaten_by = dict(
        A="Z",
        B="X",
        C="Y"
    )
    
    value = dict(X=1, Y=2, Z=3)
    
    if result == "X": # Lose
        result_score = LOSS
        player = beaten_by[opponent]
    elif result == "Y": # Draw
        result_score = DRAW
        player = draws[opponent]
    elif result == "Z": # Win
        result_score = WIN
        player = beats[opponent]
    

    #print(f"{opponent} vs {player} == {result} + {value[player]}")

    return result_score + value[player]

In [88]:
game_df['revised_score'] = np.vectorize(what_do_i_need)(game_df['opponent'], game_df['player'])
print(game_df['revised_score'].sum())
game_df

11618

     opponent player  score  revised_score
0           A      Z      3              8
1           B      X      1              1
2           A      Y      8              4
3           B      X      1              1
4           C      Y      2              6
...       ...    ...    ...            ...
2495        A      Y      8              4
2496        B      X      1              1
2497        B      Y      5              5
2498        C      X      7              2
2499        B      X      1              1

[2500 rows x 4 columns]

In [87]:
test_matrix = np.array([['A','B','C'],['Y','X','Z']])

test_df = pd.DataFrame(data=test_matrix).transpose()
test_df.columns= ['opponent','player']

test_df['revised_score'] = np.vectorize(what_do_i_need)(test_df['opponent'], test_df['player'])
print(test_df['revised_score'].sum())
test_df

12

  opponent player  revised_score
0        A      Y              4
1        B      X              1
2        C      Z              7